:root{
    --primary-title-color:#212121;
    --primary-text-color:#757575;
    --second-title-color:#FFFFFF;
    --accent-color:#2196F3;
}
body{
    font-family: 'Roboto', sans-serif;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* border-bottom: 1px solid; */
    /* outline: 2px solid tomato; */
}
.img {
    display: block;
}

    /* ------header-------- */
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-image-source: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    /* outline: 2px solid tomato; */
    border-bottom: 1px solid;
}

.header-nav{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
}

.menu-link >.item:not(:last-child)
{
margin-right: 50px;
}

.menu-link{
    display: flex;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-title-color);
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

.logo{
    display: flex;
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--accent-color); 
margin-right: 93px;   
}

.header-studio{
    display: flex;
    color: var(--primary-title-color);
}

.header-mail{
    display: flex;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color);
}

.header-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color);
}

/* ----------main--------- */
.main-title-section{
align-items: center;
text-align: center;
background-color: var(--primary-title-color)
}

.main-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--second-title-color);
margin-top: 0;
margin-bottom: 90;
padding-top: 200px;
}

.order-button{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 32px;
background-color: #2196F3;
color: var(--second-title-color);
}

.btn{
    font-family: inherit;
    cursor: pointer; 
}

.btn{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
color: var(--second-title-color);
margin-bottom: 200px;
}

.btn:hover,
.btn:focus{
    color: var(--accent-color);
}

/* ------------hero-------- */
.hero-link{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.hero-item{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}
.hero-item:nth-child(4n) {
    margin-right: 0;
}

.hero-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--primary-title-color) ;          
}

.hero-description{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.whatwedotitle,
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}

.photo-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px; 
} 

.photo-activity{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px; */
}

/* -------------team------------ */
.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px; 
}

.team-item{
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
}

.team-person{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--primary-title-color)
padding-top: 30px;
/* padding-bottom: 30px; */
text-align: center;}

.team-occupation{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color);
padding-top: 10px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  /* --------portfolio-page------ */
.btn-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-item:not(:last-child) {
    margin-right: 8px;
}

.btn-chapter{
padding: 6px 22px;
min-width: 73px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--headlines-text-color);
background: #F5F4FA;
border-radius: 4px;
border: transparent;
}

.btn-chapter:hover,
.btn-chapter:focus {
    background-color: var(--header-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

  .content-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
color:var(--primary-title-color)
}

.content-description{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--primary-text-color);       
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
.content-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.photo-description{
    padding: 20px 24px;
    width: 370px;
    border: 1px solid #EEEEEE;;
    border-top: 0;
}

/* ------footer--------- */
.footer{
    background-color:var(--primary-title-color);
    padding: 60px 0
    }

    .address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
    padding-top: 20px;
    }
    
    .footer-mail,
    .footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);    
    }
    
    .footer-studio{
        color:var(--second-title-color);
    }